.navbar {
    background: #29b99e;
    height: 80px;
    background: -webkit-linear-gradient(to right, #50B5E0, #50B5E0);
    background: linear-gradient(to right, #50B5E0, #50B5E0);
    background-repeat: no-repeat;
  }

  .navbar .user_icon{
    background-color: #ffffff;
    padding: 8px 13px 8px;
  }