.navbar {
    background: #29b99e;
    background: -webkit-linear-gradient(to right, #29b99e, #3beeaa);
    background: linear-gradient(to right, #29b99e, #3beeaa);
    background-repeat: no-repeat;
  }