<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <button class="btn rounded-circle" id="menu-toggle" style="background-color: #ffffff"><span><i
        class="fa fa-arrow-left"></i></span></button>
  <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: #000000;"><span><i class="fa fa-home"></i></span> Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link user" href="#" style="border-right: 1px solid;"><span
            class="border rounded-circle user_icon"><i class="fa fa-user"></i></span> Ward Councillor Ward No :
          12</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html">Log Out</a>
      </li>
    </ul>
  </div>
</nav>