<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <div style="text-align: center;"><span><img
          src="../../assets/images/rajuk-logo.com.png" height="50px" width="50px"/> RAJUK</span></div>
    <!-- <div style="text-align: center;">RAJUK</div> -->
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item" data-toggle="collapse" href="#user" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      <span><i class="fa fa-user"></i></span> USER
    </a>
    <div class="collapse" id="user">
      <div class="card card-body">
        <a routerLink="/adduser" routerLinkActive="active" class="list-group-item"
        *ngIf="authService.roleMatch(['ROLE_SUPER_ADMIN'])">
        Add User
        </a>
        <a routerLink="/userrequest" routerLinkActive="active" class="list-group-item"
        *ngIf="authService.roleMatch(['ROLE_SUPER_ADMIN'])">
        User Request
        </a>
        <a routerLink="/user" routerLinkActive="active" class="list-group-item"
        *ngIf="authService.roleMatch(['ROLE_SUPER_ADMIN'])">
          User List
        </a>
        <a routerLink="/addallottee" routerLinkActive="active" class="list-group-item"
        *ngIf="authService.roleMatch(['ROLE_USER'])">
          Addd Allotte
        </a>
      </div>
    </div>

    <!-- <a class="list-group-item" data-toggle="collapse" href="#allottee" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      <span><i class="fa fa-edit"></i></span> ALLOTTEE
    </a>
    <div class="collapse" id="allottee">
      <div class="card card-body">
        <a routerLink="/addallottee" routerLinkActive="active" class="list-group-item">
          Allottee Entry
        </a>
        <a routerLink="/allottee" routerLinkActive="active" class="list-group-item">
          Allottee List
        </a>
      </div>
    </div> -->

    <!-- <a class="list-group-item" data-toggle="collapse" href="#report" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      <span><i class="fa fa-book"></i></span> REPORTS
    </a>
    <div class="collapse" id="report">
      <div class="card card-body">             
        <a routerLink="/attendancereport" routerLinkActive="active" class="list-group-item">
          Date Wise Attendence Report
        </a>
        <a routerLink="/periodicreport" routerLinkActive="active" class="list-group-item">
          Periodic Attendence Report
        </a>
      </div>
    </div> -->
  </div>
</div>
<!-- /#sidebar-wrapper -->