<h3 style="text-align: center; margin-top: 40px; color: #29b99e">Complaint List</h3>
<table class="table" style="margin-top: 20px;">
  <thead class="thead-dark" style="text-align: center;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Father’s Name</th>
      <th scope="col">Mother’s Name</th>
      <th scope="col">NID</th>
      <th scope="col">Mobile number</th>
      <th scope="col">Address</th>
      <th scope="col">Complaint status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody style="text-align: center;">
    <tr>
      <th scope="row">1</th>
      <td>আনো বেগম</td>
      <td>জলিল মিয়া</td>
      <td>জাহানারা বেগম</td>
      <td>1917554074</td>
      <td>01711187986</td>
      <td>৫৫/এ, নয়াপাড়া</td>
      <td id="st">Open</td>
      <td id="editBtn"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
          Edit
        </button></td>
    </tr>
  </tbody>
</table>